<style>
    /*
    textarea.form-control {
         height: 1px;
    }
    .message-input {
         height: 0px !important; 
    }
*/
</style>

<div class="footer" style="position: fixed;
                            display: block;
                            z-index: 1000;
                            width: 100%;">

    <div class="row">
        <div class="col-lg-12">
            <div class="chat-message-form">

                <div class="form-group" style="float: left; width: 88%;">

                    <textarea rows="1" class="form-control message-input" style="height: 1% !important; width: 100%" name="message" placeholder="Escrever mensagem"></textarea>
                    
                </div>
                <div style="float: left; margin-left:5px; width: 9%;">
                    <button class="btn btn-default " type="button"><i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
