
    <div class="middle-box text-center loginscreen  animated fadeInDown" style="margin-top: -30px; top: 0%;" ng-controller="LoginCtrl as login">

    <div>

        <h1 class="logo-name">IN+</h1>
     
    </div>
    <h3>Bem-vindo ao NutGo</h3>

        <div class="alert alert-warning" ng-style="msgWarning">
            {{msgErro}}
        </div>

    <form class="m-t" role="form" action="#" name="formLogin"
          ng-submit="login.login()">

        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail"
                   ng-model="email"
                   required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha"
                   ng-model="senha" required>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b"
                ng-disabled="formLogin.$invalid">
            Entrar
        </button>

        <a ui-sref="recuperar_senha"><small>Esqueceu a senha</small></a>
        <p class="text-muted text-center"><small>Você ainda não tem conta?</small></p>
        <a class="btn btn-sm btn-white btn-block" ui-sref="criar_conta">Criar uma conta</a>
    </form>
    <br />

    <a class="btn btn-success btn-facebook" style="width: 67%;">
        <i class="fa fa-facebook"> </i> Acessar com o Facebook
    </a>

    <br />
    <br />

    <a class="btn btn-success btn-google" style="width: 67%; background: #e74b37; border-color: #e74b37;">
        <i class="fa fa-google"> </i> Acessar com o Google
    </a>
    <p class="m-t"> <small>NutGo &copy; 2015</small> </p>
</div>
