    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div ng-controller="UsuarioCtrl as usuario">
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Nova senha</h3>
            <div class="alert alert-warning" ng-show="{{erro}}">
                Não foi possível cadastrar a nova senha, tente novamente mais tarde.
            </div>

            <form class="m-t" role="form" name="formCadastroUsuario"
                  ng-submit="usuario.cadastrarUsuario()">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nova senha"
                           ng-model="usuario.usuario.Senha"
                           required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirmar nova senha"
                           ng-model="usuario.usuario.ConfirmarSenha"
                           required>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b"
                        ng-disabled="formCadastroUsuario.$invalid">
                    Confirmar
                </button>
                <a class="btn btn-sm btn-white btn-block" ui-sref="login">Cancelar</a>
            </form>

        </div>
    </div>
