
<div class="wrapper wrapper-content animated fadeIn">

<div class="row">
    <div class="col-lg-6" ng-controller="RefeicaoCtrl as refeicao">
        <div class="ibox float-e-margins">
           
            <div class="ibox-content">
                <div class="panel-body">
                    <div class="panel-group">
                        <center><h3>{{refeicao.refeicao.titulo}}</h3></center>

                        <center><label class="checkbox">{{refeicao.refeicao.horario}}</label></center>

                        <accordion close-others="oneAtATime">

                            <accordion-group is-open="status.open" ng-repeat="opcao in refeicao.opcoes">
                                <accordion-heading>
                                    {{opcao.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                    {{opcao.content}}
                            </accordion-group>

                        </accordion>


                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

</div>
