<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="input-group" ng-controller="PesquisaCtrl as pesquisa">
            <input type="text" class="form-control" placeholder="Pesquisar..."
                    ng-model="pesquisa.pesquisa.Palavras"><span class="input-group-btn">
                <button type="button" class="fa fa-search fa-5x btn btn-primary" ng-click="pesquisa.pesquisar()"></button>
            </span>
        </div>
        <br />
        <div class="col-lg-3" style="padding-right: 0px; padding-left: 0px;">
            <button class="btn btn-primary" style="width: 100%;" type="button">
                <i class="fa fa-map-marker fa-5x"></i>&nbsp;&nbsp;<span style="font-size: 35px;">Perto de mim</span>
            </button>
        </div>
        <br />
        <div class="col-lg-3" style="padding-right: 0px; padding-left: 0px;">
            <a class="btn btn-sm btn-primary btn-block text-right" ui-sref="pesquisa.pesquisa_nutricionistas">
                <i class="fa fa-user-md fa-5x"></i>&nbsp;&nbsp;<span style="font-size: 35px;">Nutricionista</span>
            </a>
        </div>
        <br />
        <div class="col-lg-3" style="padding-right: 0px; padding-left: 0px;">
            <a class="btn btn-sm btn-primary btn-block text-right" ui-sref="pesquisa.pesquisa_clinicas">
                <i class="fa fa-university fa-5x"></i>&nbsp;&nbsp;<span style="font-size: 35px;">Clínica</span>
            </a>
        </div>


    </div>
</div>