<div class="footer" style="position: fixed;
                            display: block;
                            z-index: 1000;
                            width: 100%;">

    <div class="pull-left" ng-controller="AjudaCtrl as ajuda">
        <a class="btn btn-sm btn-primary btn-block text-right" ui-sref="{{ ajuda.ajuda.paginaFaq }}">
            <span style="font-size: 16px;">{{ ajuda.ajuda.faq }}</span>
        </a>
    </div>

    <div class="pull-left" style="margin-left: 5%;">
        <button type="button" class="btn btn-primary">Segundo</button>
    </div>
    <div class="pull-left" style="margin-left: 5%;">
        <button type="button" class="btn btn-primary">Terceiro</button>
    </div>
</div>
