<div class="inmodal" ng-controller="ConfiguracaoCtrl as configuracao">
    <div class="modal-header">
        <h4 class="modal-title">Frequência</h4>
    </div>
    <div class="modal-body">
        <div class="form-group"><label>Quanto tempo antes da refeição, você deseja receber um alerta?</label> 
            <select class="form-control m-b" name="account"
                    ng-model="configuracao.tempoMsgRefeicao"
                    ng-options="configura.tempo for configura in configuracao.tempoAntesDaRefeicao"></select>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="configuracao.configTempoAlertaRefeicao()">Salvar</button>
    </div>
</div>

