
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="/*padding: 15px 20px 20px 20px; */">

                <table class="table">
                    <thead>
                    <tr>
                       
                    </tr>
                    </thead>
                    <tbody>
                     
                    <tr>
                        <td>
                            <a ui-sref="profile" class="pull-left">
                                <i class="fa fa-bell fa-3x"></i>
                            </a>
                        </td>
                    <td colspan="3">
                        <a ui-sref="profile" class="pull-left">
                            <div>

                                <strong>
                                    Próxima refeição
                                </strong>
                                <br>
                                <small class="text-muted">Almoço</small>

                            </div>
                        </a>
                        </td>   
                    </tr>
                           
                        <tr>
                            <td>
                                <a ui-sref="profile" class="pull-left" style="color: rgb(217, 37, 37);">
                                    <i class="fa fa-bell fa-3x"></i>
                                </a>
                            </td>
                            <td colspan="3">
                                <a ui-sref="profile" class="pull-left" style="color: rgb(217, 37, 37);">
                                    <div>
                                        <strong>Atualização de cadastro</strong>
                                        <br>
                                        <small class="text-muted"></small>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="profile" class="pull-left" style="color: rgb(217, 37, 37);">
                                    <i class="fa fa-bell fa-3x"></i>
                                </a>
                            </td>
                            <td colspan="3">
                                <a ui-sref="profile" class="pull-left" style="color: rgb(217, 37, 37);">
                                    <div>

                                        <strong>Agendamento</strong><br>
                                        <small class="text-muted">Confirmar a consulta com o nutricionista</small>
                                    </div>
                                </a>
</td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="profile" class="pull-left" style="color: #1ab394;">
                                    <i class="fa fa-bell fa-3x"></i>
                                </a>
                            </td>
                            <td colspan="3">
                                <a ui-sref="profile" class="pull-left" style="color: #1ab394;">
                                    <div>
                                        <strong>Validade do plano alimentar</strong><br>
                                        <small class="text-muted"></small>
                                    </div>
                                </a>
</td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="profile" class="pull-left" style="color: #f8ac59;">
                                    <i class="fa fa-bell fa-3x"></i>
                                </a>
                            </td>
                            <td colspan="3">
                                <a ui-sref="profile" class="pull-left" style="color: #f8ac59;">
                                    <div>
                                        <strong>Chat</strong><br>
                                        <small class="text-muted">Você recebeu uma mensagem</small>
                                    </div>
                                </a>
</td>
                        </tr>
                        <tr>
                            <td>
                                <a ui-sref="profile" class="pull-left" style="color: #8859D7;">
                                    <i class="fa fa-bell fa-3x"></i>
                                </a>
                            </td>
                            <td colspan="3">
                                <a ui-sref="profile" class="pull-left" style="color: #8859D7;">
                                    <div>

                                        <strong>Vínculo</strong><br>
                                        <small class="text-muted">Manter vínculo com o nutricionista</small>
                                    </div>
                                </a>
</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
